// GLOBAL VARIABLES
@import '../../src/styles/variables.scss';
@import '../../src/styles/animations.scss';

$min_width_screen: 600px;
$min_height_screen: 900px;

$normal_width_sidemenu_text: 20vw;

.background_image {
  background-image: url("../../public/images/20210726 IGUA-OSCAR_final01-JUL26.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: left -35px;
  min-width: $min_width_screen;
  min-height: $min_height_screen;
}

.background_menu_box {
  width: $min_width_screen;
  height: 100vh;
  background: #000000b4 0% 0% no-repeat padding-box;
  backdrop-filter: blur(15px);
  float: right;

  // FLEX DISPLAY
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  // MIN/MAX
  min-width: $min_width_screen;
  min-height: $min_height_screen;
}

.title {
  margin-top: 15vh;
  color: $white_color;
  text-align: center;
  font-family: $StellarM;
  font-weight: 100;
  font-size: 45pt;
  text-decoration: none;
}

.title:hover {
  text-decoration: none;
}

.input_text_separator {
  margin-top: 10vh;
}

.forgotten_password_button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: $white_color;
  font-size: 9pt;
}

.forgotten_password_button:hover {
  color: $white_color;
}

.subtitle {
  color: $white_color;
  text-align: center;
  font-family: $StellarL;
  font-weight: 100;
  font-size: 125%;
  text-decoration: none;
  letter-spacing: 0px;
}

.checkbox_keep_logged_in:not(:checked) {
  border-radius: 0;
  background-color: transparent;
  border-color: $white_color;
  border-width: 1.5px;
}

.forgotten_password_div {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 1.2vh;
}

.checkbox_keep_logged_in_div {
  margin-top: 1.2vh;
  font-size: 10pt;
}

.login_button_div {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 7.5vh;
  font-size: 10pt;
}

.login_button_div_animation {
  animation: pop-back-up;
  animation-duration: 250ms;
}

.login_button {
  height: 48px;
  background-color: transparent;
  border-color: $white_color;
  border: 2px solid $white_color;
  color: $white_color;

  width: $normal_width_sidemenu_text;
  
  max-width: 15vw;
  min-width: 300px;
}

.checkbox_keep_logged_in_text {
  margin-left: 10px;
  color: $white_color;
}

.checkbox_keep_logged_in_text:hover {
  color: $white_color;
}

.input_text_login {
  margin-top: 35px;
  border-radius: 0;
  background-color: transparent;
  border-width: 0px 0px 2px 0px;
  text-align: left;
  border-color: white;
  color: $white_color;
  width: inherit;

  min-width: 300px;
}

.input_text_login::placeholder {
  color: white
}

.input_text_login:focus {
  color: $white_color;
}

.input_text_login:focus::placeholder {
  color: transparent;
}

.title_number {
  font-family: $StellarB;
  font-weight: 900;
  margin-left: 28px;
}